[submodule "probelm_sets/1/PS1"]
	path = probelm_sets/1/PS1
	url = https://github.com/geometric3d/PS1.git
[submodule "assignments/1/assignment1"]
	path = assignments/1/assignment1
	url = https://github.com/geometric3d/assignment1.git
[submodule "probelm_sets/2/PS2"]
	path = probelm_sets/2/PS2
	url = https://github.com/geometric3d/PS2.git
[submodule "probelm_sets/3/PS3"]
	path = probelm_sets/3/PS3
	url = https://github.com/geometric3d/PS3.git
[submodule "assignments/2/assignment2"]
	path = assignments/2/assignment2
	url = https://github.com/geometric3d/assignment2.git
[submodule "probelm_sets/4/PS4"]
	path = probelm_sets/4/PS4
	url = https://github.com/geometric3d/PS4.git
[submodule "assignments/3/assignment3"]
	path = assignments/3/assignment3
	url = https://github.com/geometric3d/assignment3.git
[submodule "assignments/4/assignment4"]
	path = assignments/4/assignment4
	url = https://github.com/geometric3d/assignment4.git
